@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  -ms-scroll-snap-type: y proximity;
      scroll-snap-type: y proximity;
  background:
      radial-gradient(rgba(0, 0, 0, 0.1) 15%, transparent 16%) 0 0,
      radial-gradient(rgba(0, 0, 0, 0.071) 15%, transparent 16%) 8px 8px,
      radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 0 1px,
      radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 8px 9px;
    background-color: #2f38e614;
    background-size: 16px 16px;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Abel', sans-serif;
  overflow-x: hidden;
}

.App {
  position: relative;
}