.landingDiv {
    height: 115vh;
    width: 100vw;
    background-color: black;
    position: absolute;
    z-index: 999;
    margin-top: -20vh;
    overflow: hidden;
}

.landingDiv2 {
    height: 100%;
    width: 100%;
    background-color: white;
    overflow: hidden;
}

.landingDiv3 {
    height: 100%;
    width: 100%;
    background-color: black;
    overflow: hidden;
}

.landingDiv4 {
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.landingDiv4 svg {
    position: absolute;
    top: 50%;
    right: 50%;
    height: 35rem;
    width: 35rem;
    transform: translateX(50%) translateY(-50%);
    opacity: .5;
}

.landingDiv5 {
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landingDiv5 h2 {
    font-size: 10rem;
}